{%- if db == "postgres" %}
POSTGRES_DB={{ package_name }}
POSTGRES_PASSWORD={{ package_name }}
POSTGRES_USER={{ package_name }}
{%- endif %}
PROJECT_NAME={{ docker_compose_project_name }}
{%- if broker == "rabbitmq" %}
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE={{ project_slug }}_queue
RABBITMQ_USER=guest
{%- endif %}
{%- if analytics == "clickhouse" %}
CLICKHOUSE_DB=db
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_USER=user
{%- endif %}
