{%- if analytics == "clickhouse" %}
CLICKHOUSE_HOST=host.docker.internal
{%- endif %}
{%- if db == "postgres" %}
POSTGRES_HOST=postgres
{%- endif %}
{%- if broker == "rabbitmq" %}
RABBITMQ_HOST=rabbitmq
{%- endif %}
{%- if cache == "redis" %}
REDIS_HOST=redis
{%- endif %}
